In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
data = pd.read_excel('DATA_pKa_updated.xlsx')
data

,Unnamed: 0,Experiment,DMF,H2O_vol,Acid_vol,Acid_pKa,ACID,Temperature,Time_h_calc,%FA_formed(w/w),SD,Acid_moles
0,0,4_13,8,1.5600,0.38,0.00,TFAA,60,3.0,0.099534,0.011640,0.004966
1,1,4_13,8,0.8400,0.46,0.00,TFAA,150,6.0,0.100667,0.010739,0.006011
2,2,4_13,8,1.4096,1.14,-6.30,HCl,100,9.0,0.340075,0.042111,0.013680
3,3,4_13,8,1.4800,0.06,2.86,ClAA,100,24.0,0.030610,0.001769,0.001003
4,4,4_13,8,3.4800,0.94,4.75,AA,100,24.0,0.103782,0.023473,0.016450
...,...,...,...,...,...,...,...,...,...,...,...,...
172,172,4_11,8,0.3200,0.50,-6.30,HCl,120,72.0,0.318390,0.036930,0.006000
173,173,4_11,8,0.6400,1.00,-6.30,HCl,120,72.0,0.673820,0.085490,0.012000
174,174,4_11,8,0.0640,0.10,-6.30,HCl,120,168.0,0.065250,0.011350,0.001200
175,175,4_11,8,0.3200,0.50,-6.30,HCl,120,168.0,0.365840,0.044320,0.006000
176,176,4_11,8,0.6400,1.00,-6.30,HCl,120,168.0,0.495416,0.011728,0.012000

In [3]:
mw = {
    "HCl":36.5,
    "H2SO4":98.078,
    "AA":60.052,
    "HNO3":63.01,
    "TFAA":114.02,
    "DClAA":128.94,
    "ClAA":94.5,
    "H2O":18,
    "DMF":73.09,
    "DMA":45.0837,
    "FA":46.03
}
ro = {"HCl":1.2,
    "H2SO4":1.83,
    "AA":1.05,
    "HNO3":1.51,
    "TFAA":1.49,
    "DClAA":1.56,
    "ClAA":1.58,
    "H2O":0.99669, 
    "DMF":0.944,
    "DMA":0.89
     }

In [4]:
def n(ro, vol, mw):
    return (ro*vol)/mw
def n_frac(n_comp, n_tot):
    return n_comp/n_tot

def n_hcl(v, mw, c=12):
    return (c*v)/mw

def n_hno3(v, mw, c=15.8):
    return (c*v)/mw

In [5]:
nfDMF = []
nfH2O = []
nfAcid = []

In [6]:
for index, row in data.iterrows():
    n_DMF = n(ro['DMF'], row['DMF'], mw['DMF'])
    n_H2O = n(ro['H2O'], row['H2O_vol'], mw['H2O'])
    n_acid = row['Acid_moles']
    
    '''
    if row['ACID'] != 'HCl' or row['ACID']!= 'HNO3':
        n_acid = n(ro[row['ACID']], row['Acid_vol'], mw[row['ACID']])
    elif row['ACID'] == 'HCl':
        n_acid = n_hcl(row['Acid_vol'], mw[row['HCl']])
    elif row['ACID'] == 'HNO3':
        n_acid = n_hcl(row['Acid_vol'], mw[row['HNO3']])
    '''
        
    n_tot = n_DMF + n_H2O + n_acid
    
    nfDMF.append(n_frac(n_DMF, n_tot))
    nfH2O.append(n_frac(n_H2O, n_tot))
    nfAcid.append(n_frac(n_acid, n_tot))

In [9]:
data['nf DMF'] = nfDMF
data['nf H2O'] = nfH2O
data['nf ACID'] = nfAcid
data = data.loc[:, ~data.columns.str.contains('^Unnamed')]
data

/var/folders/c3/w8pqt3q54hs6xqz6bmpg6xyc0000gn/T/ipykernel_9343/2766024623.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['nf DMF'] = nfDMF
/var/folders/c3/w8pqt3q54hs6xqz6bmpg6xyc0000gn/T/ipykernel_9343/2766024623.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['nf H2O'] = nfH2O
/var/folders/c3/w8pqt3q54hs6xqz6bmpg6xyc0000gn/T/ipykernel_9343/2766024623.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['nf ACID'] = nfAcid

,Experiment,DMF,H2O_vol,Acid_vol,Acid_pKa,ACID,Temperature,Time_h_calc,%FA_formed(w/w),SD,Acid_moles,nf DMF,nf H2O,nf ACID
0,4_13,8,1.5600,0.38,0.00,TFAA,60,3.0,0.099534,0.011640,0.004966,0.530768,0.443724,0.025508
1,4_13,8,0.8400,0.46,0.00,TFAA,150,6.0,0.100667,0.010739,0.006011,0.662984,0.298446,0.038570
2,4_13,8,1.4096,1.14,-6.30,HCl,100,9.0,0.340075,0.042111,0.013680,0.529716,0.400150,0.070134
3,4_13,8,1.4800,0.06,2.86,ClAA,100,24.0,0.030610,0.001769,0.001003,0.554680,0.439934,0.005385
4,4_13,8,3.4800,0.94,4.75,AA,100,24.0,0.103782,0.023473,0.016450,0.330673,0.616682,0.052645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,4_11,8,0.3200,0.50,-6.30,HCl,120,72.0,0.318390,0.036930,0.006000,0.813301,0.139471,0.047228
173,4_11,8,0.6400,1.00,-6.30,HCl,120,72.0,0.673820,0.085490,0.012000,0.685347,0.235058,0.079595
174,4_11,8,0.0640,0.10,-6.30,HCl,120,168.0,0.065250,0.011350,0.001200,0.956104,0.032792,0.011104
175,4_11,8,0.3200,0.50,-6.30,HCl,120,168.0,0.365840,0.044320,0.006000,0.813301,0.139471,0.047228
176,4_11,8,0.6400,1.00,-6.30,HCl,120,168.0,0.495416,0.011728,0.012000,0.685347,0.235058,0.079595

In [10]:
data.to_excel('DATA_frac_moles.xlsx')